<div *nbIsGranted="['unit', 'view']">
  <div *ngIf="unitRequest.requestStatus === 'Pending'" class="row">
    <div class="col-lg-12" *nbIsGranted="['unit', 'access']">
      <nb-card>
        <nb-accordion multi>
          <nb-accordion-item>
            <nb-accordion-item-header>Permission Needed</nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="full-name-inputs">
                <button fullWidth (click)="onPermission($event, APPROVE)" nbButton>Approve</button>
                <button fullWidth (click)="onPermission($event, REJECT)" nbButton>Reject</button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card>
    </div>
  </div>
  <div class="row">
  <div class="col-md-8">
    <nb-card [size]="'giant'">
      <nb-card-header>Unit Request Information</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="requestId" class="label col-sm-3 col-form-label">Request Id</label>
            <div class="col-sm-9">
              <input type="text" [value]="unitRequest.requestId" disabled nbInput fullWidth id="requestId">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName" class="label col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" disabled nbInput fullWidth id="inputName" [value]="unitRequest.name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDescription" class="col-sm-3 label">Description</label>
            <div class="col-sm-9">
              <textarea id="inputDescription" rows="5" nbInput fullWidth shape="round"  disabled [value]="unitRequest.description"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputStatus" class="label col-sm-3 col-form-label">Status</label>
            <div class="col-sm-9">
              <input type="text" [value]="unitRequest.status" disabled nbInput fullWidth id="inputStatus">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputStatus" class="label col-sm-3 col-form-label">Request Status</label>
            <div class="col-sm-9">
              <input type="text" [value]="unitRequest.requestStatus" disabled nbInput fullWidth id="requestStatus">
            </div>
          </div>
          <div class="form-group row">
            <label  class="label col-sm-3 col-form-label">Request Type</label>
            <div class="col-sm-9">
              <input type="text" [value]="unitRequest.requestType" disabled nbInput fullWidth id="requestType" >
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

  </div>

  <div class="col-md-4">

    <nb-card>
      <nb-card-header>Audit Information</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName" class="label">Created By</label>
              <input type="text" disabled nbInput fullWidth id="inputFirstName" value="{{unitRequest.createdBy}}">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName" class="label">Created Date</label>
              <input type="text" disabled nbInput fullWidth id="inputLastName" value="{{unitRequest.createdDate | date:'fullDate'}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Modified By</label>
              <input type="text" disabled nbInput fullWidth id="inputEmail" value="{{unitRequest.modifiedBy}}">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Modified Date</label>
              <input type="text" nbInput  disabled fullWidth id="inputWebsite" value="{{unitRequest.modifiedDate | date:'fullDate'}}">
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
</div>
