<nb-card *nbIsGranted="['purchase_order', 'view']">
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab [tabTitle]= "'View'" [badgeDot]="true" [tabIcon]="'pie-chart-outline'">
        <div class="row">
          <div class="col-md-6">
            <nb-card [size]="'giant'">
              <nb-card-header>PurchaseOrder Information</nb-card-header>
              <nb-card-body>
                <form>
                  <div class="form-group row">
                    <label for="inputId" class="label col-sm-3 col-form-label">ID</label>
                    <div class="col-sm-9">
                      <input type="text" [value]="purchaseOrder?.id" disabled nbInput fullWidth id="inputId">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName" class="label col-sm-3 col-form-label">Purchased Date</label>
                    <div class="col-sm-9">
                      <input type="text" disabled nbInput fullWidth id="inputName" [value]="purchaseOrder?.purchasedDate  | date:'fullDate'">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputDescription" class="col-sm-3 label">Description</label>
                    <div class="col-sm-9">
                      <textarea id="inputDescription" rows="5" nbInput fullWidth shape="round"  disabled [value]="purchaseOrder?.description"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputStatus" class="label col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-9">
                      <input type="text" [value]="purchaseOrder?.status" disabled nbInput fullWidth id="inputStatus">
                    </div>
                  </div>
                </form>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-md-6">
            <nb-card>
              <nb-card-header>Items</nb-card-header>
              <nb-card-body>
                <ng2-smart-table  [settings]="itemSettings" [source]="itemSource"></ng2-smart-table>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-header>Audit Information</nb-card-header>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputFirstName" class="label">Created By</label>
                      <input type="text" disabled nbInput fullWidth id="inputFirstName" value="{{purchaseOrder.createdBy}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputLastName" class="label">Created Date</label>
                      <input type="text" disabled nbInput fullWidth id="inputLastName" value="{{purchaseOrder.createdDate | date:'fullDate'}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputEmail" class="label">Modified By</label>
                      <input type="text" disabled nbInput fullWidth id="inputEmail" value="{{purchaseOrder.modifiedBy}}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputWebsite" class="label">Modified Date</label>
                      <input type="text" nbInput  disabled fullWidth id="inputWebsite" value="{{purchaseOrder.modifiedDate | date:'fullDate'}}">
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-tab>
      <nb-tab [tabTitle]= "'Audit History'" [badgeDot]="true" [tabIcon]="'edit-2-outline'">
        <inventory-purchase-order-audit-list [entityId]="purchaseOrder?.id"></inventory-purchase-order-audit-list>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
