
@import '../../../../theme/styles/themes';
:host ::ng-deep ngx-tab1, :host ::ng-deep ngx-tab2 {
  display: block;
  padding: 1rem 2rem;
}

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
