<div *nbIsGranted="['product', 'view']">
  <div *ngIf="productRequest.requestStatus === 'Pending'" class="row">
    <div class="col-lg-12" *nbIsGranted="['product', 'access']">
      <nb-card>
        <nb-accordion multi>
          <nb-accordion-item>
            <nb-accordion-item-header>Permission Needed</nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="full-name-inputs">
                <button fullWidth (click)="onPermission($event, APPROVE)" nbButton>Approve</button>
                <button fullWidth (click)="onPermission($event, REJECT)" nbButton>Reject</button>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card>
    </div>
  </div>
  <div class="row">
  <div class="col-md-8">
    <nb-card [size]="'giant'">
      <nb-card-header>Product Request Information</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="requestId" class="label col-sm-3 col-form-label">Request Id</label>
            <div class="col-sm-9">
              <input type="text" [value]="productRequest.requestId" disabled nbInput fullWidth id="requestId">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputStatus" class="label col-sm-3 col-form-label">Request Status</label>
            <div class="col-sm-9">
              <input type="text" [value]="productRequest.requestStatus" disabled nbInput fullWidth id="requestStatus">
            </div>
          </div>
          <div class="form-group row">
            <label  class="label col-sm-3 col-form-label">Request Type</label>
            <div class="col-sm-9">
              <input type="text" [value]="productRequest.requestType" disabled nbInput fullWidth id="requestType" >
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="inputName" class="label col-sm-0 col-form-label">Name</label>
              <input type="text" disabled nbInput fullWidth id="inputName" [value]="productRequest?.name" >
            </div>
            <div class="col-sm-4">
              <label for="inputCategory" class="label col-sm-0 col-form-label">Category</label>
              <input type="text" nbInput fullWidth id="inputCategory"  disabled [value]="productRequest?.category" >
            </div>
            <div class="col-sm-4">
              <label for="inputCode" class="label col-sm-0 col-form-label">Code</label>
              <input type="text" nbInput fullWidth id="inputCode" disabled [value]="productRequest?.code" >
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="inputQuantity" class="label col-sm-0 col-form-label">Quantity</label>
              <input type="number" nbInput fullWidth id="inputQuantity" disabled [value]="productRequest?.quantity" >
            </div>
            <div class="col-sm-4">
              <label for="inputUnit" class="label col-sm-0 col-form-label">Unit</label>
              <input type="text" nbInput fullWidth id="inputUnit" disabled [value]="productRequest?.unit" >
            </div>
            <div class="col-sm-4">
              <label for="inputBrand" class="label col-sm-0 col-form-label">Brand</label>
              <input type="text" nbInput fullWidth id="inputBrand" disabled [value]="productRequest?.brand" >
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="inputPrice" class="label col-sm-0 col-form-label">Price</label>
              <input type="number" nbInput fullWidth id="inputPrice" disabled [value]="productRequest?.unitPrice" >
            </div>
            <div class="col-sm-4">
              <label for="inputDiscount" class="label col-sm-0 col-form-label">Discount</label>
              <input type="number" nbInput fullWidth id="inputDiscount" disabled [value]="productRequest?.discount" >
            </div>
            <div class="col-sm-4">
              <label for="inputTax" class="label col-sm-0 col-form-label">Tax(%)</label>
              <input type="number" nbInput fullWidth id="inputTax" disabled [value]="productRequest?.taxInPercentage" >
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label for="inputManufacturedDate" class="label col-sm-0 col-form-label">Manufactured Date</label>
              <input id ="inputManufacturedDate" nbInput fullWidth placeholder="Manufactured Date"
                     name="manufacturedDate" [value]="productRequest?.manufacturedDate  | date:'fullDate'" disabled>
            </div>
            <div class="col-sm-4">
              <label for="inputExpiryDate" class="label col-sm-0 col-form-label">Expiry Date</label>
              <input id ="inputExpiryDate" nbInput fullWidth placeholder="Expiry Date"
                     name="expiryDate" [value]="productRequest?.expiryDate  | date:'fullDate'" disabled>
            </div>
            <div class="col-sm-4">
              <label for="inputStatus" class="label col-sm-0 col-form-label">Status</label>
              <input type="text" [value]="productRequest.status" disabled nbInput fullWidth id="inputStatus">
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

  </div>

  <div class="col-md-4">

    <nb-card>
      <nb-card-header>Audit Information</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName" class="label">Created By</label>
              <input type="text" disabled nbInput fullWidth id="inputFirstName" value="{{productRequest.createdBy}}">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName" class="label">Created Date</label>
              <input type="text" disabled nbInput fullWidth id="inputLastName" value="{{productRequest.createdDate | date:'fullDate'}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Modified By</label>
              <input type="text" disabled nbInput fullWidth id="inputEmail" value="{{productRequest.modifiedBy}}">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputWebsite" class="label">Modified Date</label>
              <input type="text" nbInput  disabled fullWidth id="inputWebsite" value="{{productRequest.modifiedDate | date:'fullDate'}}">
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
</div>
