<div *nbIsGranted="['unit', 'view']">
  <nb-card>
    <div class="accordion-container">
      <nb-accordion multi>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Filter
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <form (ngSubmit)="filter()" #form="ngForm" >
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputId" class="label">Request Status</label>
                    <input [(ngModel)]="filterEntity.requestStatus" type="text" name="requestStatus" nbInput fullWidth id="inputId" placeholder="Request Status">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputName" class="label">Name</label>
                    <input type="text" [(ngModel)]="filterEntity.name" name="name" nbInput fullWidth id="inputName" placeholder="Name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputStatus" class="label">Request Type</label>
                    <input type="text" nbInput [(ngModel)]="filterEntity.requestType" name="requestType" fullWidth id="inputStatus" placeholder="Status">
                  </div>
                </div>
              </div>
              <button class="d-flex align-items-end flex-column" type="submit"  nbButton>Submit</button>
            </form>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </nb-card>
  <nb-card>
  <nb-card-header>Unit Request List</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" (userRowSelect)="onClickEvent($event)" [source]="source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
</div>
